.header {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84,84,84,.7);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 45px;
  margin-bottom: 40px;
}

@media screen and (max-width: 880px) {
  .header {
    padding: 28px 0 0 27px;
    margin-bottom: 42px;
  }
}
