.modal__figure {
  object-fit: contain;
  display: flex;
  flex-flow: column;
  margin: 0;
  margin-top: 40px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .modal__figure {
    margin-top: 0;
  }
}
