.cards__btn {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  background: none;
  min-width: 22px;
  height: 19px;
  background-size: cover;
  transition: all 1s;
}

.cards__btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
