.profile__avatar-container {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.2;
}

.profile__avatar-container:hover .profile__avatar-btn {
  opacity: 1;
}
