.modal {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 101;
  box-sizing: border-box;
  width: 430px;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 282px;
    margin-top: 0;
  }
}

