.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px,auto));
  gap: 17px;
  margin-bottom: 66px;
}

@media screen and (max-width: 767px) {
  .cards {
    gap: 20px;
    margin-bottom: 48px;
  }
}
